
.container{
	margin: 0 auto;
	width: 550px;
}

.header{
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 0 0;
}

.nav{
	height: 70px;
}

.nav__logo{
	padding: 22px 0 22px 30px;
	max-width: 100px;
}

.hero{
	margin: 26px 0 0 32px;
	padding: 0 20px;
}

.hero-img{
	width: 395px;
	display: block;
	margin: 0 auto;
}

.hero__header{
	font-weight: 600;
	font-size: 36px;
}

.hero__text{
	font-weight: 300;
	width: 320px;
}

.card{
	display: flex;
	margin: 26px 0 0 32px;
    padding: 0 20px;
	justify-content: space-between;
	overflow: scroll;
}

.card__body{
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}
.card__img-body{
	position: relative;
}
.card__status{
	position: absolute;
	font-size: 10px;
	color: #222222;
	text-transform: uppercase;
	background-color: #fff;
	padding: 6px;
	margin: 10px 0 0 10px;
}
.card__img{
	width: 176px;
	height: 235px;
}
.card__info{

}
.card__info-rate{
	display: flex;
	font-size: 14px;
	align-items: baseline;
}
.card__info-stars{
	width: 14px;
	height: 14px;
}
.card__info-numrate,
.card__info-review,
.card__info-country{
	margin-left: 5px;
}

.card__info-review,
.card__info-country{
	color: #918E9B;
}

.card__info-title{
	margin: 8px 0;
	font-weight: 300;
	font-size: 12px;
}
.card__info-price span{
	font-weight: bold;
}
.card__info-country{
	position: relative;
}
.card__info-country::before{
	content: '';
	position: absolute;
	top: 50%;
	left: -14%;
	transform: translateY(-50%);
	width: 3px;
	height: 3px;
	background-color: #918E9B;
	display: block;
}